<!-- <div class="main">
    <div class="sidebar">

        <div class="slack-name">
            <h2>FireSlack</h2>
        </div>

        <div class="channel-list">
            <div class="list-head">Channels</div>
            <div class="channel">
                <a href="#a" href-active="selected"># A</a>
                <a href="#b" href-active="selected"># B</a>
                <a href="#c" href-active="selected"># C</a>
            </div>

            <div class="channel create">
                <a href="#create">+ Create Channel</a>
            </div>

            <div class="list-head">Direct Messages</div>
            <div class="channel" ng-repeat="user in channelsCtrl.users">
                <a ng-if="user.$id !== channelsCtrl.profile.$id" href="channels.direct({uid: user.$id})" href-active="selected">
          <span class="presence" ng-class="{online: user.online}"></span> {{ user.displayName }}
        </a>
            </div>
        </div>

    </div>


</div> -->
<style>
    .subheaderdemoBasicUsage .face {
        border-radius: 30px;
        border: 1px solid #ddd;
        width: 48px;
        margin: 16px;
    }
</style>
<div class="message-pane subheaderdemoBasicUsage" layout="column" flex="" layout-fill="" ng-cloak="" class="">
    <!-- <ui-view></ui-view> -->
    <!-- <mat-list>
        <h3 mat-subheader>Folders</h3>
        <mat-list-item *ngFor="let folder of folders">
            <mat-icon mat-list-icon>folder</mat-icon>
            <h4 mat-line>{{folder.name}}</h4>
            <p mat-line> {{folder.updated | date}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item *ngFor="let note of notes">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{note.name}}</h4>
            <p mat-line> {{note.updated | date}} </p>
        </mat-list-item>
    </mat-list> -->
    
    <mat-list layout-padding="">
        <sticky [sticky-offset-top]="20"><div>Folders</div></sticky>
        <mat-list-item *ngFor="let folder of folders">
            <mat-icon matListIcon>folder</mat-icon>
            <h4 matLine>{{folder.name}}</h4>
            <p matLine class="demo-2"> {{folder.updated}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <sticky [sticky-offset-top]="20"><div>DEMON</div></sticky>
        <mat-list-item *ngFor="let note of notes">
            <mat-icon matListIcon>note</mat-icon>
            <h4 matLine>{{note.name}}</h4>
            <p matLine class="demo-2"> {{note.updated}} </p>
        </mat-list-item>
    </mat-list>

</div>