img{
  height: 320px;} 
hr{
   margin-bottom: 21px;
   border: 0;
  border-top: 1px solid #434857;
}
.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
/* .message-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 55px 15px 65px 15px;
  -webkit-overflow-scrolling: touch;
} */

.message-pane {
  display:inline-block;
  vertical-align: top;
  height:100%;
  width:100%;
  overflow-y:hidden;
  overflow-x:hidden;
  padding:0px 15px 10px 15px;
  -webkit-overflow-scrolling: touch;
}

.message-pane .header {
  position:fixed;
  top:0;
  background:#fff;
  width:100%;
  z-index:2;
}

.message-pane .header h1 {
  padding:12px 0 10px 0;
  margin-top:0px;
  margin-bottom:0px;
  font-size:24px;
  color:#555459;
  font-weight:900;
}

.message-pane .message-form {
  position:fixed;
  bottom:0;
  padding:0 15px 15px 0;
  background:#fff;
  width:100%;
}

.message-pane .message-wrap {
  position:relative;
  margin-top:15px;
}

.message-pane .message-wrap .user-pic {
  width:36px;
  height:36px;
  border-radius:4px;
  display: inline-block;
  vertical-align: top;
}

.message-pane .message-wrap .message-info {
  display: inline-block;
  vertical-align: top;
  padding-left:5px;
}

.message-pane .message-wrap .message-info .user-name {
  color:#555459;
  font-weight:900;
}

.message-pane .message-wrap .message-info .user-name span{
  color:#ccc;
  font-weight: normal;
  font-size:10px;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

/* */

div[contenteditable=true] {
  border: 1px solid #AAA;
  width: 100%;
  padding: 5px;
}

pre {
  background:#EEE;
  padding:5px;
  width: 290px;
}

.container_186vsl5 {
    flex: 1 !important;
    padding: 10px 10px 0 10px !important;
    background: #fff !important;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    -webkit-overflow-scrolling: touch;
}

.dayDivider_1yqkpak {
    position: relative !important;
    margin: 1rem 0 !important;
    text-align: center !important;
}

.dayText_zrlbv3 {
    z-index: 1 !important;
    position: relative !important;
    background: #fff !important;
    padding: 0 12px !important;
}

.dayDivider_1yqkpak::after {
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    left: 0 !important;
    height: 1px !important;
    background: rgb(240,240,240) !important;
    content: "" !important;
}

/* div,* {
    box-sizing: none;
} */
#iddisplay{
 display: -webkit-flex; margin-bottom: 10px;
}
.divbutton mat-icon {
    display: none;
    float:right
}

.divbutton:hover mat-icon {
    display: block;
}