<!-- <h2>{{content.name}}</h2> -->
<!-- <mat-divider></mat-divider> -->
<!-- <img src="{{content.img}}"/> -->
<!-- <div class="message-pane subheaderdemoBasicUsage" layout="column" flex="" layout-fill="" ng-cloak="" class="">
<mat-list layout-padding="">
    <mat-list-item *ngFor="let message of content.messages">
        <mat-icon matListIcon>folder</mat-icon>
        <h4 matLine>{{message.name}}</h4>
        <p matLine class="demo-2"> {{message.updated}} </p>
    </mat-list-item>
</mat-list>
</div> -->
<!-- <div class="message-pane">
  <span><b>{{content.name}}</b></span>
  <div class="message-wrap" *ngFor="let message of content.messages">
    <img class="user-pic" src="{{message.img}}">
    <div class="message-info">
      <div class="user-name">
        {{ message.messages.nickname }}
        <span class="timestamp">{{ message.messages.updated_at | date:'short' }}</span>
      </div>
      <div>
        {{ message.messages.message }}
      </div>
    </div>
  </div>
</div> -->
<div class="container_186vsl5">
  <div>
    <div class="dayDivider_1yqkpak">
      <span class="dayText_zrlbv3">
        <span><b>{{content.name}}</b></span>
      </span>
    </div>
    <div id="iddisplay" *ngFor="let message of content.messages">
      <img src="{{message.img}}" style="width: 40px; height: 40px; border-radius: 4px; margin-right: 10px;">
      <div class="divbutton">
        <div>
          <b style="margin-right: 8px; font-size: 14px;">
             {{ message.messages.nickname }}
          </b>
          <time style="margin-right: 12px;font-size: 12px; color: rgb(192, 192, 192);">
            {{ message.messages.updated_at | date:'shortTime' }}
          </time>
          <mat-icon title="Add Reaction" style="cursor:pointer">face</mat-icon>
          <mat-icon title="Copy Message" style="cursor:pointer" (click)="copyTextToClipboard(message.messages.message)">assignment</mat-icon>
        </div>
        <div style="display: -webkit-flex;width:100%" >
          {{ message.messages.message }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="msg_input" class="ql-container"><div class="ql-editor ql-blank" contenteditable="true" tabindex="1" role="textbox" aria-multiline="true" aria-haspopup="true" spellcheck="true" autocorrect="off" autocomplete="off" aria-label="Message @Priyansh Dwivedi"><p><br></p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1" aria-hidden="true" role="presentation" spellcheck="true" autocorrect="off" autocomplete="off"></div><div class="ql-placeholder" aria-hidden="true" role="presentation" tabindex="-1">Message @Priyansh Dwivedi</div></div> -->