<div class="input-group" style="padding-left:5px;padding-right:5px;background:white">
    <span class="input-group-btn" style="padding-right:5px;">
        <button (click)="logout()" class="btn btn-warning btn-sm" id="btn-chat">
          Logout
        </button>
    </span>
    <div style="width:90%" contenteditable="true" placeholder="Enter text here..." [textContent]="cdMsg" (input)="update($event.target.textContent)" ></div>
    <span class="input-group-btn" style="padding-left:5px;">
        <button class="btn btn-warning btn-sm" id="btn-chat">
            Send
        </button>
    </span>
</div>
<br>