[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

/* */

div[contenteditable=true] {
  border: 1px solid #AAA;
  width: 100%;
  padding: 5px;
}

pre {
  background:#EEE;
  padding:5px;
  width: 290px;
}